
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px !important ;
    box-sizing: border-box;

}
body {
    font-family: 'Inter';
    color: #333;
    line-height: 1.6;
    padding: 10px;
    background-color: white;
    overflow-x: hidden;
    
    
}
.head_hero_section{
    width: 1440px;
    height: 798px;
    background-color: #F3FCF7;
    
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav__menu{
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

.nav__menu li{
    margin-left: 20px;

    
}
.nav__menu li a{
    text-decoration: none;
    color: black;
}
.nav__menu li a:hover{
    color: #06C167;
    
}
.hero{
    display: flex;
    margin-top: 70px;
}
.hero__text{
    display:flex ;
    flex-direction: column;
}
.hero__text h1{
   font-size: 70px;
   padding: 40px;
}

.hero__text h1, .hero__text p{
    margin-left: 20px;
}
.hero__text p{
    font-size: 16px;
    padding-left:45px ;
    font-weight: 400;
}
.hero__button{
    width: 200px;
    height: 68px;
    margin-top: 20px;
    margin-left: 52px;
    background-color: #06C167;
    cursor: pointer;
}
.hero__img{
    width: 468px;
    height: auto;
    margin-top: 100px;
    margin-left: 220px;

}
.card {
    width: 1170px;
    height: 185px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #F3FCF7;
    border-bottom: 3px solid #F3FCF7;
    margin-top: 100px;
    padding-top: 100px;
    padding-top: 30px;
    margin-left: 30px;
    
}
.card__item1{
    padding-left: 90px;
}
.card__item3{
    padding-right: 90px;
}

.products__1{
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.products__1--image img{
    width: 541px;
    height: 608px;
    margin-left: 73px;
    margin-top: -30px;
    border-left: 50px solid #F3FCF7;
    border-right:50px solid #F3FCF7 ;
    border-bottom: 100px solid #F3FCF7;
}
.products__1--text h2{
    width: 537px;
    height: 146px;
    font-size: 60px;
    margin-top: -20px;
    
    
}
.products__1--text ul{
    margin-top: 5rem;
    margin-left: 20px;
}

.products__2{
    max-width: 1200px;
    max-height: 608px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 30px;
}
.products__2--img img{
    width: 541px;
    height: 608px;
    margin-left: 73px;
    margin-top: 60px;
    border-left: 50px solid #F3FCF7;
    border-right:50px solid #F3FCF7 ;
    border-bottom: 100px solid #F3FCF7;
}
.products__2--text{
    margin-left: 73px;
    margin-top: 100px;
}
.products__2--text h2{
    width: 537px;
    height: 146px;
    font-size: 60px;
    margin-top: 20px;
    
    
}
.products__2--text ul{
    margin-left: 20px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.products__2--text ul li span{
    font-size: 40px;
    font-variant:semi-bold ;
    color: #06C167;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-variation-settings: "opsz" 32;
}
.products__2--btn{
    width: 200px;
    height: 68px;
    margin-top: 20px;
    margin-left: 22px;
    background-color: #06C167;
    cursor: pointer;
}
.card__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    border: 1px solid white;
    overflow: hidden;
}

.features__header{
    text-align: center;
    padding: 30px 20px;
    
}
.features__header p {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
.bigscreen{
    width: 1170px;
    height: 460px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 100px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), /* mask */
    url('./src/bigscreen.png');
}
.bigscreen h2{
    color: white;
    font-size: 60px;
    text-align: center;
    
}

.bigscreen__btn{
    width: 200px;
    height: 68px;
    margin-top: 20px;
    background-color: #06C167;
    cursor: pointer;

}